<!-- REMOVED - did not get this to work in time -->

<!-- <div class="target" id="target" (dragenter)="handleDrag($event)" (dragover)="handleDrag($event)" (drop)="handleDrop($event)">
  <h3>Add attachments here</h3>
  <p>
    Drag and drop to add attachments to this maintenance item
  </p>
  <form>
    <section class="form-block">
      <div class="form-group">
        <label>Files attached:</label>
        <div class="checkbox" *ngFor="let attachment of attachments; let index=index">
          <input type="checkbox" id={{index}}>
          <label for={{index}}>{{attachment.name}} - {{attachment.type}}</label>
        </div>
      </div>
    </section>
  </form>
</div> -->
